#messages {
    background-color: paleturquoise;
    overflow: scroll;
    padding: 10px;
    max-height: 300px;
    min-height: 100px;
}

#send {
    float: left;
}

#message {
    float: left;
    width: 100%;
    vertical-align: bottom;
    max-height: 300px;
    min-height: 100px;
}

